[Unit]
Description=EaaS Service runing at {{ host_eaas_home }}
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory={{ host_eaas_home }}
{% if eaas_enable_snapshots %}
ExecStartPre=/sbin/modprobe ip6table_filter
{% endif %} 
Restart=always
ExecStart={{ docker_compose_install_path }} up
ExecStop={{ docker_compose_install_path }} down
TimeoutSec=1200

[Install]
WantedBy=default.target
