Alias /eaasi /home/bwfla/demo-ui/eaasi-public-portal/dist/
Alias /admin /home/bwfla/demo-ui/eaas-frontend-admin/dist/
{% if ui_landing_page != '' %}
Alias /landing-page /home/bwfla/demo-ui/landing-page/dist/
{% endif %}
<Directory "/home/bwfla/demo-ui">
         Require all granted
</Directory>
