version: "{{ docker_compose_file_version }}"
{% if docker_custom_network != '' %}
networks:
  test:
    external: true
{% endif %}
services:
  nginx:
    image: nginx
    container_name: nginx
    volumes:
      - {{ docker_image_archive_volume | default("./image-archive", true) }}:/image-archive:ro
      - ./config/nginx/nginx.conf:/etc/nginx/nginx.conf 
      - ./config/nginx/proxy.js:/etc/nginx/proxy.js
{% if docker_custom_network != '' %}
    networks:
    - test
{% endif %} 
  eaas:
    image: {{ docker_custom_image }}
    container_name: {{ host_eaas_service_name }}
    privileged: true
{% if docker_custom_network != '' %}
    networks:
    - test
{% endif %}
    environment:
    - SSL_PROXY={{ docker_ssl_enabled | default("no") | lower }}
{% if not docker_ssl_enabled %}
    - EAAS_PROXYPORT={{ eaas_public_port }}
{% endif %}
    ports:
    - {{ docker_port_mapping }}
{% if docker_network_ports != '' %}
    - {{ docker_network_ports }}
{% endif %}
    volumes:
    - ./log/server:/home/bwfla/bw-fla-server/standalone/log
    - ./server-data:/eaas/server-data
    - {{ docker_objects_volume | default("./objects", true) }}:/eaas/objects
    - {{ docker_export_volume | default("./export", true) }}:/eaas/export
    - {{ docker_image_archive_volume | default("./image-archive", true) }}:/eaas/image-archive
    - {{ docker_import_volume | default("./import", true) }}:/eaas/import
    - ./eaas-ui:/eaas/demo-ui
    - ./roms:/eaas/roms
    - ./config:/eaas/config
    - ./certificates:/eaas/certificates
    - ./deployments:/eaas/deployments
    - ./welcome-content:/home/bwfla/bw-fla-server/welcome-content
{% for volume in docker_custom_volumes %}
    - {{ volume }}
{% endfor %}
{% if docker_ssl_enabled %}
    extra_hosts:
    - {{ eaas_hostname }}:127.0.0.1
{% endif %}
