clustermanager:
  name: default
  admin_api_access_token: "{{ eaas_cluster_api_access_token }}"
  providers:
  - name: default
    type: jclouds
    protocol: {{ eaas_protocol }}
{% if os_dns_domain is defined %}
    domain: {{ os_dns_domain }}
{% endif %}
    node_allocator:
      provider:
        type: openstack-nova
        auth:
          api_version: "3"
          endpoint: "{{ clustermgr.authconfig.auth_url }}"
          project_name: "{{ clustermgr.authconfig.project_name }}"
          user: "{{ clustermgr.authconfig.os_user_domain_name }}:{{ clustermgr.authconfig.username }}"
          password: "{{ clustermgr.authconfig.password }}"

      security_group_name: "{{ clustermgr.security_group_name }}"
      node_group_name: "{{ clustermgr.node_group_name }}"
      node_name_prefix: {{ clustermgr.node_name_prefix }}
      vm:
        network_id: "{{ clustermgr.vm.network_id }}"
        hardware_id: "{{ os_region }}/{{ clustermgr.vm.hardware_id }}"
        image_id: "{{ os_region }}/{{ hostvars['localhost']['os_emucomp_image_id'] }}"

      healthcheck:
        url_template: "{% raw %}{{address}}{% endraw %}/emucomp/health"

    poolscaler:
      min_poolsize: {{ clustermgr.min_poolsize }}
      max_poolsize: {{ clustermgr.max_poolsize }}
      scaledown:
        node_warmup_period: 10 mins
        node_cooldown_period: 30 mins
      preallocation:
        min_bound: { cpu: 0, memory: 0 }
        max_bound: { cpu: +inf, memory: +inf }
{% if clustermgr.request_history_multiplier is defined %}
        request_history_multiplier: {{ clustermgr.request_history_multiplier }}
{% endif %}
