{% set eaas_gw_host = hostvars[os_gateway_name]['ansible_host'] %}
{% set eaas_gw_url = eaas_protocol + eaas_gw_host + ':' + eaas_public_port %}

components:
  client_timeout: 30s
  timeout: 60s
  emulator_containers:
    enabled: true
    uid: 1000
    gid: 1000

rest:
  blobstore: "{{ eaas_gw_url }}/blobstore/api/v1/blobs"

imagearchive:
  backends:
  - name: emulators
    type: filesystem
    basepath: /home/bwfla/image-archive/emulators
    http_prefix: "http://nginx:81"
    nameindex_config_path: /home/bwfla/.bwFLA/nameindices/emulators/
    export_handles: false
